<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Attendance Tracker</title>


</head>
<body>
	<h1>Monthly leave tracker!</h1>

	<form th:action="@{/entry}" method="post">

		<label for="employeeSelected">Select Employee</label>
		<select id="employeeSelected" name="employeeSelected">
			<option th:each="employee: ${allEmployee}" th:value="${employee.getUserName()}" 
			th:text="${employee.getName()}">Employee</option>
		</select>
		
		<label for="startDate">Leave Start Date :</label>
		<input name="startDate" id="startDate" type="date" />
		
		<label for="leaveCount">Number of Leave days :</label>
		<input name="leaveCount" id="leaveCount" />
		
		<input type="submit" />
	</form>
	<p>
		<a th:href="@{/report}">Report</a>
	</p>
</body>
</html>