<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Attendance Tracker</title>
</head>
<body>
	<h1>Welcome!</h1>

	<p>
		Enter leave for employee <a th:href="@{/entry}">Entry</a>
	</p>
	<p>
		Publish a report for an employee <a th:href="@{/report}">Report</a>
	</p>
</body>
</html>