<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
<head>
<title>Attendance Tracker</title>

</head>
<body>

	<form th:action="@{/report}" method="post">
	
	 <input type="number" id="yearSelected" name="yearSelected" min="1900" max="2099" step="1" th:value="${year}" />
	 
	 <select id="employeeSelected" name="employeeSelected">
	 	<option th:each="employee: ${allEmployee}" th:value="${employee.getUserName()}" th:text="${employee.getName()}">Employee</option>
	 </select>
	 
	 <input type="submit"/>
	</form>​

	<h1>Report for <label th:text="${name}">name</label> </h1>

	<table>
		<thead>
			<tr >
				<th th:each="heading : ${heading}" th:text="${heading}">Heading</th>
			</tr>
		</thead>
		
		<tr th:each="report : ${reports}">
			<td th:each="field : ${report}" th:text="${field}">1</td>

		</tr>
	</table>
	<p>You have <label th:text="${remainingLeave}">Leave left</label> days alloted leave left.
	<p>
		<a th:href="@{/entry}">Entry</a>
	</p>

</body>
</html>